body {
    background-color: black;
    color: white;
}
  
.card {
    background-color: #1e1e1e; /* Slightly lighter than black */
    color: white;
    border: none;
    border-radius: 8px;
}

textarea,
button {
    background-color: #2c2c2c;
    color: white;
    border: 1px solid #444;
    border-radius: 4px;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

textarea::placeholder {
    color: #777;
}

.modal-content {
background-color: #2a2d34;  /* Charcoal Gray */
color: #fff;
}

.modal-header, .modal-footer {
border: none;
}

/* Custom styles for the books page */
h2 {
    font-family: 'Arial', sans-serif;
    color: #118AB2;  /* Azure Blue */
    font-weight: bold;
}

.list-group-item {
    font-size: 1.2rem;
    background-color: #2A2D34; /* Charcoal Gray (dark background) */
    color: #FFFFFF;
    border: 1px solid #444;
    margin-bottom: 10px;
}

.list-group-item:hover {
    background-color: #037F5E; /* Mint Green (hover effect) */
    color: #FFFFFF;
}

.level-complete {
    border: 2px solid #06D6A0; /* Green border */
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    list-style: none;
}
  
.level-incomplete {
    border: 2px solid #E05C5C; /* Red border */
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    list-style: none;
}

ul.levels {
    padding-left: 0 !important; /* Optional: to remove any default padding as well */
}